body, td {
  font-size: 12px;
}

pre {
  font-size: 10px;
}

@keyframes blink {
  0%, 50% { opacity: 1; }
  51%, 100% { opacity: 0; }
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}