/* blue grades - root level; text properties for states: normal, hover, click */
.TM0i0 {
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;;
	color: #272727;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	padding: 4px;
}

/* blue grades - root level; box properties for states: normal */
.TM0o0 {
	background: #ECE9D8;
	border: 1px solid #2B547F;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
}

/* blue grades - root level; box properties for states: hover, click */
.TM0o1 {
	background: #D2CFBD;
	border: 1px solid #2B547F;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
}

/* blue grades - sub levels; box properties for states: normal */
.TM1o0 {
	background: #D2CFBD;
	border: 1px solid #2B547F;
	text-align: left;
	vertical-align: middle;
	text-decoration: none;
}

/* blue grades - sub levels; box properties for states: hover, click */
.TM1o1 {
	background: #ECE9D8;
	border: 1px solid #2B547F;
	text-align: left;
	vertical-align: middle;
	text-decoration: none;
}